{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/home.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/estilo.css">
{% endblock %}
{% block aside %}
<aside>
	<a href="{% url 'horario' %}" title="">
		<h4>Horario</h4>
	</a>
	<a href="{% url 'config' %}" title="">
		<h4>Configuración</h4>
	</a>
	<a href="{% url 'generador' %}" title="">
		<h4>Generador</h4>
	</a>
</aside>
<div id="identidad">
	<h4>{{ nombre }}</h4>
	<img src="{{ avatar }}" alt="">
	<a href="{% url 'logout' %}" title="">
		<button type="text">Salir</button>
	</a>
</div>
{% endblock %}