{% extends "basea.html" %}
{% block section %}
<section id="url_form">
	<form id='formulario' action=''>
		{% csrf_token %}
		<h3 id="subtitle_form">Configuracion principal</h3>
		{{formulario.as_p}}
        <input class="input_text" type="text" value="{{ nombre }}" placeholder="nombre">
        <input class="input_text" type="text" value="{{ email }}" placeholder="email">
        <p></p>
		<input class="input_button" id="input_button" type='button' value='Confirmar'/>
	</form>
</section>
{% endblock %}