{% extends "base.html" %}
{% block section %}
<section id="url_form">
	<form id='formulario' action=''>
		{% csrf_token %}
		<h3 id="subtitle_form">Configuracion principal</h3>
		{{formulario.as_p}}
        <input class="input_text" type="text" value="{{ nombre }}" placeholder="nombre">
        <input class="input_text" type="text" value="{{ email }}" placeholder="email">
        <p></p>
		<input class="input_button" id="input_button" type='button' value='Confirmar'/>
	</form>
</section>

	<aside>
		<a href="{% url 'horario' %}" title="">
			<h4>Horario</h4>
		</a>
		<a href="{% url 'generador' %}" title="">
			<h4>Generador</h4>
		</a>
	</aside>
	<div id="identidad">
		<h4>{{ nombre }}</h4>
		<a href="{% url 'config' %}">
			<img src="{{ avatar }}" alt="">
		</a>
		<a href="{% url 'logout' %}" title="">
			<button type="text">Salir</button>
		</a>
	</div>
{% endblock %}